.git
.gitattributes
.github
.vscode

node_modules
vendor/bundle

tmp/*
!tmp/.keep
!tmp/pids
tmp/pids/*
!tmp/pids/.keep

log/*
!log/.keep

storage/*
!storage/.keep

test
spec

.env
.env.*
config/master.key
config/credentials/*.key

yarn-error.log
*.log
