<div class="alert alert-light p-5 text-center">
  <h5>Invalid or expired booking.</h5>
  <p>You have tried to access an invalid or expired booking. If you believe this is a mistake, please contact your host via the channel you booked on.</p>
</div>
