<div class="alert alert-light p-5 text-center">
  <h5 class='mb-3'>Please try again in a moment...</h5>
  <p>If you have made this booking in the last hour, please return after a moment as it takes a few minutes to synchronise.</p>
  <p>If you're trying to access a previous booking, or for further assistance, please contact your host on: <br></p>

  <h4><p class='text-info'> <i class="fa fa-phone me-2"></i>0121 663 1936</p></h4>

  <h3 class='mt-3'>Thank you</h3>

</div>
