<div class="container  bg-light p-5">

  <div class="row">
    <div class="col">
      <h2 class="mb-3">Linen Counter</h2>
      <div class="row">
        <div class="col">
          <input type="text" class="form-control" placeholder="From...">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="To...">
        </div>
        <div class="col">
          <button class="btn btn-secondary">Submit</button>
        </div>
      </div>
    </div>
  </div>

  
  <div class="row">
    <div class="col">

    <table class="table table-sm mt-5">
      <thead>
        <tr>
          <th>Flat name</th>
          <th>Bookings during period</th>
          <th># of Beds</th>
          <th>Total guests</th>
        </tr>
      </thead>

    </table>  
  
    </div>
  </div>




</div>